<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAPTOP - ACER</title>
</head>
<body style="background-color:limegreen">
    <center>
        <h1>WELCOME TO LAPTOP APP</h1>
        <h2>WELOCME TO ACER PAGE</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum maiores reiciendis veniam perferendis asperiores beatae quaerat itaque dicta explicabo sed cumque non ab odit quibusdam repellat nulla vel, distinctio illo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dicta autem. Placeat.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam laudantium at iste ad suscipit vel aliquam, ex facere architecto cupiditate aperiam quae deserunt! Quae fuga expedita similique molestiae maiores, quo exercitationem sed ullam minus ducimus, voluptates nulla?</p>

        <a href="{% url 'MOBILE:iphone' %}">Go to Iphone Page</a><br>
        <a href="{% url 'MOBILE:android' %}">Navigate to Android Page</a><br>
        <a href="{% url 'LAPTOP:asus' %}">Back to Asus Page</a>
    </center>
</body>
</html>