<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOBILE - ANDROID</title>
</head>
<body style="background-color:cyan">
    <center>
        <h1>WELCOME TO MOBILE APP</h1>
        <h2>WELCOME TO ANDROID PAGE</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate neque beatae adipisci, exercitationem nulla, animi excepturi eum aperiam illo sint asperiores quia unde magnam voluptates, recusandae ea atque deleniti facere.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ad quidem qui aperiam dolores, neque doloribus totam omnis doloremque praesentium. Atque libero cupiditate error adipisci accusamus quod rerum sequi consectetur ipsum a officiis perferendis excepturi ad pariatur nulla, quam ab illum nobis voluptates nostrum qui odio deserunt. Ad, quas perspiciatis?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum fugit earum veritatis molestiae temporibus eum velit optio possimus necessitatibus consectetur ipsa voluptate reiciendis dolor esse odio, debitis, placeat ab ea deleniti nemo labore. Natus quae ipsam excepturi!</p>

        <a href="{% url 'MOBILE:iphone' %}">Back to Iphone Page</a><br>
        <a href="{% url 'LAPTOP:asus' %}">Navigate to Asus Page</a><br>
        <a href="{% url 'LAPTOP:acer' %}">Go to Acer Page</a>
    </center>
</body>
</html>