<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAPTOP - ASUS</title>
</head>
<body style="background-color:yellow">
    <center>
        <h1>WELCOME TO LAPTOP APP</h1>
        <h2>WELCOME TO ASUS PAGE</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minima deleniti vel? Officia placeat enim facere, sapiente aut hic commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius molestias explicabo sint nulla excepturi facere, itaque, fugiat possimus, reprehenderit nisi praesentium accusantium? Minus doloribus voluptate eligendi. Voluptatum autem perferendis similique!</p>

        <a href="{% url 'MOBILE:iphone' %}">Back to Iphone Page</a><br>
        <a href="{% url 'MOBILE:android' %}">Navigate to Android Page</a><br>
        <a href="{% url 'LAPTOP:acer' %}">Go to Acer Page</a>
    </center>
</body>
</html>