<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOBILE - IPHONE</title>
</head>
<body style="background-color:pink">
    <center>
        <h1>WELCOME TO MOBILE APP</h1>
        <h2>WELOCME TO IPHONE PAGE</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia nemo hic nesciunt, eligendi accusamus voluptatum.</p>

        <a href="{% url 'MOBILE:android' %}">Nagivate to Android Page</a><br>
        <a href="{% url 'LAPTOP:asus' %}">Go to Asus Page</a><br>
        <a href="{% url 'LAPTOP:acer' %}">Back to Acer Page</a>
    </center>
</body>
</html>